@font-face {
  font-family: "sega_logo_fontregular";
  src: url("sega-webfont.woff2") format("woff2"),
    url("sega-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#heading {
  font-family: "sega_logo_fontregular";
  color: #1a28f3;
  font-weight: 200;
}
